{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
<br>
Для Вашей учетной записи в <a href="{{mainURL}}">РАССИ</a> был сброшен пароль.<br>
<b>Логин:</b> <mark>{{login}}</mark><br>
<b>Новый пароль:</b> <mark>{{password}}</mark><br>
<br>
Вы в любой момент сможете в сменить пароль в личном кабинете, а также восстановить его в случае утраты с помощью данного почтового ящика или администратора Вашей организации.<br>
<br>
Если Вы не можете перейти по указанной ссылке, скопируйте ее и вставьте в адресную строку браузера вручную: <a href="{{mainURL}}"">{{{mainURL}}}</a>
