{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
<br>
Для сброса пароля в районной автоматизированной системе контроля качества образования (<a href="{{mainURL}}">РАССИ</a>) ИМЦ Московского района перейдите по следующей ссылке:<br>
<a href="{{resetLink}}">{{{resetLink}}}</a><br>
<br>
Если Вы не можете перейти по указанной ссылке, скопируйте ее и вставьте в адресную строку браузера вручную.
