{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
Для Вашей учетной записи в <a href="{{mainURL}}">РАСККО</a> был сброшен пароль.<br>
<b>Логин:</b> {{login}}<br>
<b>Новый пароль:</b> {{password}}<br>
