{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
Для сброса пароля в районной автоматизированной системе контроля качества образования (<a href="{{mainURL}}">РАСККО</a>) ИМЦ Московского района перейдите по следующей ссылке:<br>
<a href="{{resetLink}}">{{resetLink}}</a>
