{{#if name}}
	Здравствуйте, <b>{{name}}</b>!
{{else}}
	Здравствуйте!
{{/if}}<br>
<br>
Для Вас была создана учетная запись в районной автоматизированной системе контроля качества образования (<a href="{{mainURL}}">РАССИ</a>) ИМЦ Московского района.<br>
<br>
<b>Логин:</b> <mark>{{login}}</mark><br>
<b>Пароль:</b> <mark>{{password}}</mark><br>
<br>
Вы в любой момент сможете в сменить пароль в личном кабинете, а также восстановить его в случае утраты с помощью данного почтового ящика или администратора Вашей организации.<br>
<br>
Если Вы не можете перейти по указанной ссылке, скопируйте ее и вставьте в адресную строку браузера вручную: <a href="{{mainURL}}">{{{mainURL}}}</a>
